<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Entry Management</title>
    <script src="https://kit.fontawesome.com/a6aaf9d01e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  
    <link rel="stylesheet" href="css/user.css">
</head>
<body>
    <nav class="navbar  navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="">Calorie</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
     </div>
    </nav>
    <div class="container">
       
        <div class="entries-container">
            <h2>Food Entries</h2>
            <table>
                <thead>
                    <tr>
                        <th>Food Name</th>
                        <th>Date</th>
                        <th>meal</th>
                        <th>calories</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="entries-body">
                    <% for(var i=0; i<AllFood.length;i++){ %>
                        <% var date = new Date(AllFood[i].date); %>
                        <%  date =date.toLocaleDateString(); %>

                        <tr>
                        <td><%=AllFood[i].name  %></td>
                        <td><%= date  %></td>
                        <td><%=AllFood[i].meal  %></td>
                        <td><%=AllFood[i].Calorie  %></td>

                        <td><button class="delete" value=<%=AllFood[i]._id  %>>Delete</button>
                           
                        </td>
                    </tr>
                    
                    <% } %>
                </tbody>
            </table>
        </div>

        <div class="entries-container">
            <h2>Users</h2>
            <table>
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Avarage Calories</th>
                        <th>this week</th>
                        <th>last week</th>



                    </tr>
                </thead>
                <tbody id="entries-body">
                    <% for(var i=0; i<AllUser.length;i++){ %>
                        

                        <tr>
                        <td><%=AllUser[i].username  %></td>
                        
                        <td><%=AllUser[i].avg  %></td>
                        <td><%=AllUser[i].thisweek  %></td>
                        <td><%=AllUser[i].lastweek  %></td>
                       
                    </tr>
                    
                    <% } %>
                </tbody>
            </table>
        </div>

        <!-- <div class="form-container">
            <h2>Add New Food Entry</h2>
            <form onsubmit="submitForm()">
                <label for="date">Date and Time:</label>
                <input type="date" id="date" name="date" required>
                <label for="food">Food Name:</label>
                <input type="text" id="food" name="food" required>
                <label for="calories">Calorie Value:</label>
                <input type="number" id="calories" name="calories" required>
                <label for="meal">Meal:</label>
                <select id="meal" name="meal" required>
                    <option value="" disabled selected>Select a meal</option>
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                </select>
                <input type="hidden" id="userid" value= required>
                <button id="submit" type="submit">Add Entry</button>
            </form>
        </div> -->
    </div>
    <div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Mutaz</p>
  </div>
</div>
    <script src="admin.js"></script>
</body>
</html>


